# if Statement

In [12]:
x=int(input("Enter the age"))
if x>=18:
    print("Eligibe for vote")
else:
    print("Not Eligible for vote")

Enter the age 18

Eligibe for vote

In [17]:
year=int(input("Enter The year"))
if year%4==0:
    print("This year is leap year")
elif year%100==0:
    print("This year is leap")
elif year%400==0:
    print("This year is leap year")
else:
    print("Not leap year")

Enter The year 2023

Not leap year

# For Statements

In [36]:
alphabets=['ab','b','cc','d','e','fd']

In [37]:
alphabets

['ab', 'b', 'cc', 'd', 'e', 'fd']

In [38]:
for letters in alphabets:
    print(letters,len(letters))

ab 2
b 1
cc 2
d 1
e 1
fd 2

In [40]:
numbers=[10,22,12,13,5574,65,82,48,23]
numbers

[10, 22, 12, 13, 5574, 65, 82, 48, 23]

In [47]:
for even in numbers:
    if even%2==0:
        print(f'I am even {even}')
    else:
        print(f'I am Odd number {even}')

I am even 10
I am even 22
I am even 12
I am Odd number 13
I am even 5574
I am Odd number 65
I am even 82
I am even 48
I am Odd number 23

# for loop can be used with a tuple:

In [48]:
t=(11,25,20,76)
for tup in t:
    print(tup)

11
25
20
76

# tuple unpacking.

In [49]:
tupl=[(1,2),(3,4),(5,6),(7,8),(13,14)]
tupl

[(1, 2), (3, 4), (5, 6), (7, 8), (13, 14)]

In [50]:
for tup1 in tupl:
    print(tup1)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(13, 14)

In [55]:
for (l1,l2) in tupl:  ## Now with unpacking!
    print(l2)

2
4
6
8
14

In [69]:
# Create a sample collection

users={'madhu':'Customer Of Airtel','mahima':'Customer of Jio','David':'Customer Of VI','Ramesh':'Customer Of BASNL'}
users

{'madhu': 'Customer Of Airtel',
 'mahima': 'Customer of Jio',
 'David': 'Customer Of VI',
 'Ramesh': 'Customer Of BASNL'}

In [74]:
#  Iterate over a copy

for user,company in users.copy().items():
    if company=='jio':
        del users[user]
active_users={} 
for user,company in users.items():
    if company=='BSNL':
        active_users[user]=company

In [78]:
print(user,company)

Ramesh Customer Of BASNL