In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
sum(range(5))

10

In [7]:
list(range(0,20,5)) # 0 is starting value 20 is the stopping value (the sequence will stop before reaching this value).and 5 is the step or increment between each number in the sequence.

[0, 5, 10, 15]

In [9]:
list(range(-10, -100, -30))  # Negative  Value

[-10, -40, -70]

In [15]:
for i in reversed(range(1, 10, 2)):  # using Reverse order
    print(i)

9
7
5
3
1

In [14]:
names_len=['Rahul','siva','kiran','Galidator','DeadPool'] # Define place of the element
for names in range(len(names_len)):
    print(names,names_len[names])

0 Rahul
1 siva
2 kiran
3 Galidator
4 DeadPool